@tailwind base;
@tailwind components;
@tailwind utilities;

/* ini styling slider volume video */
.custom-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 6px;
  border-radius: 9999px;
  outline: none;
  cursor: pointer;
}

/* Track (Chrome, Safari) */
.custom-slider::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 9999px;
}

/* Thumb (Chrome, Safari) */
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #edbe9f;
  margin-top: -5px; /* supaya thumb pas di tengah track */
  cursor: pointer;
  border: none;
}

/* Firefox */
.custom-slider::-moz-range-track {
  height: 6px;
  border-radius: 9999px;
}

.custom-slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #edbe9f;
  border: none;
  cursor: pointer;
}

.custom-slider {
  transition: all 0.2s ease-in-out;
}

/* font */

@font-face {
  font-family: "Norman";
  src: url("/fonts/Norman-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "StopSN";
  src: url("/fonts/StopSN-Display.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/Semi-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/Regular-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* globals.css */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
